/* Estructura general */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.9); /* Fondo negro */
    color: #add8e6; /* Color blanco para el texto general */
}

/* Contenedor de main */
main {
    flex: 1;
    background-color: rgba(44, 44, 44, 0.9); /* Fondo oscuro */
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 8px;
    margin: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
}

/* Estilo para los títulos en la página */
h1 {
    color: #ff6347; /* Color naranja para el título */
}

/* Estilo para los párrafos */
p {
    color: #add8e6; /* Color azul claro para los párrafos */
}

/* Para los enlaces dentro del sidebar */
.sidebar a:hover {
    background-color: rgba(77, 77, 77, 1); /* Fondo gris claro */
    color: black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Barra superior */

/* Estilo para los enlaces en la barra superior */
.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Efecto hover para los enlaces en la barra superior */
.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: lightgray;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Responsive */
@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 941px) {
    .page {
        flex-direction: row;
        align-items: center; /* Centrado horizontal */
    }

    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
