@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenidos al proyecto de Aula del 2024</h1>

<p class="team-description">Elaborado por: Mateo Marquez, David Henao, Santiago Palacio, Juan Manuel</p>

<div class="team-icon">
    <img src="https://cdn-icons-png.flaticon.com/512/1796/1796747.png" alt="Grupo de personas" class="team-logo" />
</div>
